.add-marker-controls {
  position: fixed;
  top: 60px;
  left: 20px;
  background: black;
  padding: 0 0 10px 0;
}

.add-marker-controls > * {
  width: 280px;
}

.add-marker-controls .type-container,
.add-marker-controls .button.submit,
.add-marker-controls input[type="text"],
.add-marker-controls textarea {
  margin: 0 10px;
}

.add-marker-controls .type-container .button {
  display: inline-block;
  margin: 0 5px 5px 0;
}