.control-component input[type="text"],
.control-component textarea,
.control-component .input-read-only {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.4em;
  background: #989898;
  border: 1px solid transparent;
  outline: 0;
  padding: 5px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.control-component input[type="text"]:focus,
.control-component textarea:focus {
  border: 1px solid #0ff;
}

.control-component input[type="text"] {
  height: 30px;
}

.control-component .button-row-two .button-container {
  width: 50%;
  display: inline-block;
}

.control-component .button-row-two .button-container:first-child {
  padding-right: 5px;
}

.control-component .button-row-two .button-container:last-child {
  padding-left: 5px;
}

#controls {
  position: fixed;
  top: 6px;
  left: 0px;
  z-index: 200;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#controls > * {
  float:left;
} 

#controls .button-container {
/*  padding: 16px 10px 10px 10px;*/
  padding: 0px 0 10px;
  background: black;
  display: none;
/*  visibility: hidden;*/
/*  opacity: 0;*/
/*  transition: opacity 150ms;*/
}

#controls.is-selected .button-container {
/*  opacity: 1;*/
  display: block;
/*  visibility: visible;*/
}

#controls.is-selected .controls-opener {
  background: black;
  border-right: 1px solid #333;
}

.control-component .header {
  color: #ddd;
  padding: 9px 10px 0 10px;
  line-height: 21px;
  font-weight: bold;
}

.control-component {
  pointer-events: none;
  position: relative;
}

.control-component > *{
  pointer-events: auto;
}

.control-component label,
#controls .button-container .label {
  color: #ddd;
  margin-bottom: 1px;
/*  border-left: 1px solid #ddd;*/
  padding: 7px 10px;
/*  font-size: 13px;*/
  display: block;
}

#controls .controls-opener {
  height: 40px;
  width: 40px;
}

#controls .button {
  margin: 0 10px 1px;
  width: 280px;
  position: relative;
/*  background-image: url(../img/icons/display_uncheck_30_30_02.png);*/
}



.control-component .button {
  line-height: 20px;
/*  opacity: 0.5;*/
/*  color: rgba(0,0,0,0.4);*/
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat !important;
/*  background-image: url(../img/icons/display_uncheck_30_30_02.png);*/
}

.control-component .button-inline {
  display: inline-block;
}

.control-component .button pre {
  white-space: pre-wrap;
}

.control-component .button .counter{
  float: right;
}

.control-component .button-numbered {
  padding-left: 40px;
}

.control-component .button-numbered span {
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  line-height: 30px;
/*  font-size: 13px;*/
/*  font-weight: bold;*/
  text-align: center;
}

.control-component .button-action {
  background: #ddd;
}

.control-component .button-small {
  padding: 0px 5px 0;
  font-size: 13px;
  line-height: 17px;
  height: 17px;
}

.control-component .button.button-icon {
  padding: 5px 10px 5px 30px;
}

#controls .button.active {
  background-image: url(../img/icons/display_check_30_30_02.png);
/*  opacity: 1;
  color: #111;*/
}

.control-component .button-icon.save-edit {
  background-image: url(../img/icons/display_check_30_30_02.png);
}

.control-component .button-icon.cancel-edit {
  background-image: url(../img/icons/display_uncheck_30_30_02.png);
}

.control-component .spacer {
  height: 1px;
  margin-top: 10px;
  border-top: 1px solid #333;
  width: 100%;
}

.control-component .button:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  border-left: 5px solid rgba(0,0,0,0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}
.control-component .button-toggle.active:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  border: 5px solid rgba(0,0,0,0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}

.control-component .input-template {
  display: none;
}

.control-component .input-template.active {
  display: block;
}

.control-component .template-container {
  padding: 0;
  margin: 0;
  width: initial;
}

.control-component .popup-template {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
/*  max-height: 800px;*/
  bottom: 100px;
  overflow-y: scroll;
  background: black;
/*  padding: 10px 10px 5px 10px;*/
  padding-bottom: 5px;
/*  border-left: 1px solid #333;*/
  z-index: 100;
  border: 1px solid #333;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
     -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
          box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.control-component .input-block {
  margin: 0 10px;
}

.control-component .input-block > * {
/*  width: 100%;*/
}

.control-component .custom-template .section-container {
  padding: 0 10px;
}

.control-component .custom-template .button {
  width: auto;
  margin: 0 0px 5px 0;
}

.label-list-template input.marker-label {
  
}