input[type="text"],
textarea,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  -webkit-text-stroke: 1px transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", Helvetica, Arial;
  font-size: 16px;
  color: #111;
  background: #777;
  
  height: 100%;
  width: 100%;
  overflow: auto;
}

html body .hidden {
  display: none !important;
}

html body .transparent {
  opacity: 0 !important;
}

#headline {
  margin-left: 19.1%;
  margin-left: 25%;
  margin-top: 10px;
  font-size: 34px;
  line-height: 36px;
/*  font-weight: bold;*/
}

#headline .normal {
  font-size: 33px;
}

#headline .bold {
  font-weight: bold;
}

#view-port-slider {
  width: 50vw;
  position: fixed;
  bottom: 380px;
  left: 20px;
/*  margin-top: -400px;*/
}

.marker-context-menu,
.marker-details {
  background: black;
  position: fixed;
/*  border: 1px solid #333;*/
  
  color: #ddd;
/*  line-height: 20px;*/
  
  z-index: 150;
}

.marker-details {
  pointer-events: none;
/*  height: 119px;*/
  padding: 7px 0px;
  min-width: 240px;
  max-width: 350px;
  opacity: 0;
  transition: opacity 150ms;
  transition-delay: 20ms;
  line-height: 22px;
}

.marker-details .details-content,
.marker-details .details-label {
  padding: 0 25px;
}
.details-content .value {
  float:right;
}

.marker-context-menu {
  z-index: 160;
  opacity: 0;
  top: 0;
  left: 0;
  min-width: 240px;
  max-width: 350px;
/*  height: 186px;*/
  padding: 7px 0;
  margin-top:10px;
  pointer-events: none;
/*  border: 1px solid #fff;*/
/*  box-shadow: 0 0px 5px rgba(0,0,0,0.8);*/
}

.timeline-component.marker-context-open .marker-context-menu {
  pointer-events: auto;
}

.marker-context-menu.transition {
  transition-property: opacity, margin;
  transition-duration: 250ms;
  margin-top:0;
  opacity: 1;
}

.marker-context-menu .context-icon {
  float: right;
  font-size: 1.1em;
}

.marker-context-pointer {
  position:absolute;
  bottom: -16px;
  pointer-events: none;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
}

.marker-popup-tile,
.marker-context-button {
  line-height: 22px;
  padding: 0 25px;
  background: black;
}

.marker-popup-tile.button,
.marker-context-button {
  cursor: pointer;
}


.marker-details .divider,
.marker-context-menu .divider {
  height: 7px;
  width: 100%;
/*  border-bottom: 1px solid #505050;*/
  border-bottom: 1px solid #333;
  margin-bottom: 6px;
}

.marker-popup-label,
.marker-details .details-label,
.marker-context-label {
  font-weight: bold;
}

.marker-context-button:hover {
  background: #505050;
/*  background: #2a2a2a;*/
/*  border-left: 1px solid black;
  border-right: 1px solid black;*/
}

.marker-context-button.unavailable {
  pointer-events: none;
  opacity: 0.4;
}

.control-component .button .counter{
  float: right;
}


#controls .information-block {
  position: fixed;
  top: 20px;
  right: 20px;
/*  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #aaa;
  border-color: #000;*/
}

.info-tile {
  line-height: 20px;
/*  padding: 13px 15px 13px;*/
  width: 260px;
/*  background: #404040;*/
/*  background: #fff;*/
  color: #111;
/*  margin-bottom: 1px;*/
/*  border-bottom: 1px solid #000;*/
  margin-bottom: 22px;
}

.info-tile .info-label {
  font-size: 13px;
  border-top: 1px solid #111;
  padding-top: 3px;
}

.info-tile .info-content {
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
}